client/xml/sitemap.xsd

<?xml version="1.0"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" >

<xsi:element name="urlset">
  <xsi:complexType>
    <xsi:sequence>
      <xsi:element name="url" maxOccurs="unbounded">
        <xsi:complexType>
          <xsi:sequence>
            <xsi:element name="title" type="xsi:string"/>
            <xsi:element name="location" type="xsi:string"/>
            <xsi:element name="date" type="xsi:string"/>
          </xsi:sequence>
        </xsi:complexType>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
</xsi:element>
  
</xsi:schema>